
/*Rewrited styles from lungojs defaul jss*/
.list .anchor {
  background: #9FDDF7;
  color: #0E87C6;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border: none;
}
/*-------*/
#stationInfo{
	background-color: #FFF;
	background-image: url(../images/textContainer.png);
	background-repeat: no-repeat;
	height:165px;
}

.detailTitles{
	margin-left: 20px;
	padding-top:30px;
	color:#38505f;
	text-transform: capitalize;
	font-size: 150%;
}

.detailSubtitles{
	color:#000;
	font-size: 170%;
}

#stationDetailMap{
	width: 100%;
	height:100%;	
}

.updatedTime{
	background-color:#a6e133 !important;
	color:#FFF !important;
	opacity: 0.8 !important;
}

.centerTitle{
	text-align: center;
}

.cellSubtitle{
	float: none !important;
}

.infoWindow{
	margin-top:8px;
	border-width:1px;
	border-style:solid;
	border-color:#2C2C2D;

}

.infoWindow .title {
background-color: #2C2C2D !important;
color: white !important;
text-shadow: 0px 1px 0px black !important;
height:35px;
padding-left: 5px;
padding-top: 5px;
word-wrap: break-word;
}

.infoWindow .infoWindowLink{
	height:25px;
	text-align: center;
	padding-top: 5px;
	text-decoration: underline;
}

.infoWindow .infoWindowsStationData{
	padding-left:5px;
}